@viewport{
    /*zoom: 1.0;
    width: extend-to-zoom;*/
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

@-o-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}


html {
	height: 100%;
	background: #00000; /* Old browsers */
}

body {
	height: 100%;
	margin: 0;
	background: url('../images/blue_flag_1.png') no-repeat fixed #000000;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center top;
}

a, a:visited {
	color: #ED002F;
	text-decoration: none;
}

a:hover, a:active {
	color: #0f5bf7;
	text-decoration: none;
}

body h1 {
	font-size: 22px;
	font-weight: bold;
}

body h2 {
	font-size: 18px;
	font-weight: bold;
}

#page-container {
	margin: 0 auto;
	min-height: 100%;
	width: 960px;
	background: #000;
}

#header-container {
	position: relative;
	margin-top: 0;
	width: 100%;
	height: 202px;
	color: #333;
	/*background-image:url('../images/sasca_header.png');*/
}

#logo {
	width: 100%;
	height: 175px;
	background-image:url('../images/sasca_header.png');
}

#nav {
	position: absolute;
	bottom: 0;
	background: #000;
	width: 100%;
	height: 27px;
	float: left;
}

#nav li {
	color: #FFFFFF;
	list-style: none;
	float: left;
	width: 120px;
	height: 27px;
	line-height: 27px;
	text-align: center;
	white-space: none;
}

#nav li a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}

#nav li:hover, #nav li a:hover {
	background-color: #151ea7;
}

#nav li ul {
	position: absolute;
	display: none;
}
#nav li:hover ul {
	display: block;
}
#nav li ul li {
	float: none;
	display: inline;
	text-align: left;
	white-space: nowrap;
}

#nav li ul li a {
	/*width: 150px; */
	position: relative;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background: #333;
	color: #fff;
	padding-left: 7px;
	padding-right: 15px;
}
#nav li ul li a:hover {
	background: #151ea7;
	color: #FFF;
}

#content-container {
	height: 100%;
	min-height: 500px;
	background: #FFF;
	color: #000;
	padding: 15px;
}

#footer-container {
	height: 35px;
	background: #000;
	color: #333;
	padding-top: 13px;
	text-align: center;
}

#twitter_feed {
  height: 300px;
}





/* ******************************************************* */
/*MEDIA QUERY*/
@media only screen and (max-width : 640px) {

	header {

		position: absolute;

	}

	#logo {
		width: 100%;
		height: 175px;
		/*background-image:url('../images/sasca_header.png');*/
	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul {

		display: none;
		position: absolute;
		padding: 20px;
		background: #fff;
		border: 5px solid #444;
		right: 20px;
		top: 60px;
		width: 50%;
		border-radius: 4px 0 4px 4px;

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 0;
		margin: 0;

	}

	nav:hover ul {

		display: block;

	}
}

/* ******************************************************* */

/* Index Page */
#sidebar {
	float: right;
	margin-left: 10px;
}

#sidebar .action_item {
	margin-bottom: 10px;
	width: 200px;
}

#sidebar .action_item .heading {
	display: block;
	width: 100%;
	background-color: #000;
	color: #FFF;
	padding: 5px 0px;
	text-align: center;
}

#sidebar .action_item .description {
	background-color: #DDD;
	padding: 7px;
}

.date {
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 5px;
	color: #0f5bf7;
}

/* BOD */
#bod {
	width: 600px;
	margin: 0 auto 0 auto;
}

table.chairs {
	margin: 5px 0px 0px 15px;
	background: #fff;
	border: 1px solid #ccc;
}

table.chairs td {
	margin-right: 1px;
	padding: 2px 5px;
	border-left: 1px solid #ccc;
}

table.chairs td.title {
	width: 175px;
	font-weight: bold;
}

table.chairs td.name {
	width: 250px;
}

table.chairs td.email {
}

table.chairs tr.even {
	background-color: #b8d0e8;
}

table.chairs tr.even td.name, table.chairs tr.even td.email {
	border-left: 1px solid #fff;
}

table.chairs tr.odd td.name, table.chairs tr.odd td.email {
	border-left: 1px solid #ddd;
}

/* Calendar */
#calendar-frame {
	display: block;
	margin: 0 auto;
}


/* By Laws */
#bylaws .heading {
	font-weight: bold;
	text-align: center;
	margin-top: 25px;
}

#bylaws .top {
	margin-top: 0 !important;
}

#bylaws .subheading {
	text-align: center;
	margin-top: 5px;
}

#bylaws .section {
	margin-top: 20px;
}

#bylaws .description {
	margin-top: 15px;
	margin-left: 20px;
}

/* Schedule Page */
#schedule {
	width: 550px;
	margin: 0 auto 0 auto;
}

#schedule tr.even {
	background: #b8d0e8;
}

#schedule tr.odd {
	background: #FFF;
}

#schedule table {
	margin-top: 5px;
	margin-left: 20px;
}

#schedule table tr {
	height: 18px;
}

#schedule table th {
	height: 23px;
	padding-left: 0px;
	vertical-align: middle;
	background: #151ea7;
	color: #FFF;
	font-weight: bold;
	white-space: nowrap;
}

#schedule table td {
	vertical-align: middle;
	height: 25px;
	padding-left: 10px;
}

#schedule table td.desc {
	text-align: left;
	font-weight: bold;
	width: 150px;
}

#schedule table td.time {
	text-align: right;
}

#schedule table td.dash {
	width: 30px;
	text-align: center;
}

#schedule table td.ext {
	width: 250px;
}

/* Registration Page */
#register {
	width: 775px;
	margin: 0 auto 0 auto;
}

#events {

}

#events td {
	text-align: center;
	vertical-align: middle;
	height: 25px;
}

#events th {
	height: 23px;
	vertical-align: middle;
	background: #151ea7;
	color: #FFF;
	font-weight: bold;
	white-space: nowrap;
	font-size: 16px;
	padding-left: 5px;
}

#events th.number {
	width: 55px;
}

#events th.date {
	width: 150px;
}

#events th.location {
	width: 175px;
}

#events th.register {
	width: 125px;
}

#events th.info {
	width: 300px;
}

#events td.number {
	text-align: left;
}

#events td.date {
	text-align: left;
	padding-left: 15px;
}

#events td.location {
	text-align: center;
}

#events td.register {
	text-align: center;
}

#events td.info {
	text-align: left;
	padding-left: 15px;
}

#events tr.even {
	background: #b8d0e8;
}

#events tr.odd {
	background: #FFF;
}

#faq {
	margin-top: 20px;
}

#faq p.ans {
	margin: 5px 0 15px 20px;
}


/* Tech Inspection Page */
#tech p {
	padding-left: 20px;
}

#tech p.top {
	padding-top: 15px;
}

#tech p.heading {
	padding-top: 15px;
	padding-left: 0px;
	font-weight: bold;
}

#tech ol {
	margin-top: 5px;
	margin-left: 20px;
}

#tech li {
	margin-left: 15px;
	list-style-type: decimal;
}


/* Club Rules */
#rules .heading {
	font-weight: bold;
	text-align: center;
}

#rules ol {
	margin-top: 5px;
	margin-left: 20px;
}

#rules li {
	margin-top: 15px;
	margin-left: 15px;
	list-style-type: upper-roman;
}

#rules ol ol {
	margin-top: 20px;
	margin-left: 20px;
}

#rules ol ol li {
	margin-top: 10px;
	margin-left: 15px;
	list-style-type: upper-alpha;
}

#rules ol ul {
	list-style-type: none;
}

#rules ol ul li {
	list-style-type: none;
}

#rules ol ul ol {

}

#rules ol ul ol li {
	list-style-type: upper-alpha;
}

#rules table.schedule {
	text-align: left;
}

#rules table.schedule td {
	width: 175px;
}


/* History Page */
#history {

}

#history p {
	margin-bottom: 20px;
}


/* Novice - First Time */
#firsttime p {
	margin-bottom: 15px;
}

#firsttime p.heading {
	margin-left: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}

#firsttime p.desc, #firsttime ul {
	margin-left: 20px;
	margin-bottom: 10px;
}

#firsttime ul {
	list-style-type: disc;
}

#firsttime ul li {
	margin-bottom: 5px;
}

/* Membership Page */
#membership {

}

#membership p {
	display: block;
	padding: 5px 0 5px 15px;
}

#membership ul {
	padding-left: 15px;
}

#membership ul li {
	list-style: disc;
	list-style-position: inside;
}
/* Novice - Improve Page */
