@viewport{
    /*zoom: 1.0;
    width: extend-to-zoom;*/
}

@-ms-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}

@-o-viewport{
    width: extend-to-zoom;
    zoom: 1.0;
}


html {}

body {
  background: #eee;
  color: #000000;
  font-family: 'Merriweather Sans', sans-serif;
  height: 100vh;
}

a:link, a:visited {
	color: #0f5bf7;
	text-decoration: none;
}

a:hover, a:active {
	color: #ED002F;
	text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-family: 'Ubuntu', sans-serif;
}

#page-container {
  min-height: 100%;
  position: relative;
  padding-bottom: 70px;
}

#header-container {
  position: relative;
  height: 220px;
  background: #EEEEEE url('../images/sasca_cnc.jpg') no-repeat bottom center;
  background-size: cover;
  transition: 0.2s;
}

#content-container {
  padding: 15px;
}

#footer-container {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 50px;
  width: 100%;
  background-color: #003d64;
  color: #FFF;
}

#header-logo {
  border: 0;
  height: 150px;
  margin: 13px;
}

#nav-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3em;
  background-color: #003d64;
  box-shadow: 0px 3px 3px #888888;
  border-top: 1px solid #000000;
}

nav {
  font-weight: bold;
  text-transform: uppercase;
}

nav .menu-btn {
  display: none;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-size: 1em;
}

nav ul li a {
  display: block;
  float: left;
  width: 8em;
  height: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 2.99em;
  transition: 0.2s;
  font-family: 'Ubuntu', sans-serif;
}

nav ul li a:link,
nav ul li a:visited {
  background-color: #003d64;
  color: #FFFFFF;
}

nav ul li a:hover,
nav ul li a:active {
  background-color: #16A1FB;
  color: #FFFFFF;
}



/* ******************************************************* */

/*********************************
******* Index Page ***************/
.quick-block {
  position: relative;
  width: 31%;
  height: 8.5em;
  border: 1px solid #000;
  background-color: #FFFFFF;
  color: #000000;
  float: left;
  margin-left: 2%;
  box-shadow: 3px 3px 3px #888888;
}

.quick-block .title {
  position: relative;
  margin: 0;
  width: 100%;
  height: 25%;
  line-height: 2em;
  vertical-align: middle;
  padding-left: 7px;
  background-color: #003d64;
  color: #FFFFFF;
  font-weight: bold;
  overflow: hidden;
}

.quick-block .content {
  height: 75%;
  width: 100%;
  margin: 0;
  padding: 3px;
  overflow: hidden;
}

.quick-block .btn {
  padding: 6px 10px;
}

/* Next Event */
.quick-block .content.nextEvent {
  padding: 0;
}

.quick-block-left {
  float: left;
  width: 50%;
  padding: 3px 8px;
}

.quick-block-right {
  float: left;
  width: 50%;
  height: 100%;
  padding: 3px 3px 5px 15px;
  text-align: center;
}

.quick-block-right a.btn {
  margin: 3px auto;
}

.quick-block .btn-primary {
  color: #FFF !important;
}

/* Event Results */
.quick-block .resultsGroup {
  text-align: center;
  margin-top: 13px;
}

.quick-block .resultsGroup .btn-primary {
  margin-right: 5px;
  /*width: 22%;*/
  width: 7em;
}

.quick-block .resultsGroup .btn-primary:last-of-type {
  margin-right: 0px;
}

/* @Content */
#content {
  width: 695px;
  display: inline-block;
}

/*********************************
******* @BOD **********************/
#bod {
	width: 600px;
	margin: 0 auto 0 auto;
}

table.chairs {
	margin: 5px 0px 0px 15px;
	background: #fff;
	border: 1px solid #ccc;
}

table.chairs td {
	margin-right: 1px;
	padding: 2px 5px;
	border-left: 1px solid #ccc;
}

table.chairs td.title {
	width: 175px;
	font-weight: bold;
}

table.chairs td.name {
	width: 250px;
}

table.chairs td.email {
}

table.chairs tr.even {
	background-color: #b8d0e8;
}

table.chairs tr.even td.name, table.chairs tr.even td.email {
	border-left: 1px solid #fff;
}

table.chairs tr.odd td.name, table.chairs tr.odd td.email {
	border-left: 1px solid #ddd;
}

/* @Calendar */
#calendar-frame {
	display: block;
	margin: 0 auto;
}


/* @ByLaws */
#bylaws .heading {
	font-weight: bold;
	text-align: center;
	margin-top: 25px;
}

#bylaws .top {
	margin-top: 0 !important;
}

#bylaws .subheading {
	text-align: center;
	margin-top: 5px;
}

#bylaws .section {
	margin-top: 20px;
}

#bylaws .description {
	margin-top: 15px;
	margin-left: 20px;
}

/* @Schedule Page */
.schedule {
	width: 550px;
	margin: 0 auto 0 auto;
}

.schedule tr.even {
	background: #b8d0e8;
}

.schedule tr.odd {
	background: #FFF;
}

.schedule table {
	margin-top: 5px;
	margin-left: 20px;
}

.schedule table tr {
	height: 18px;
}

.schedule table th {
	height: 23px;
	padding-left: 0px;
	vertical-align: middle;
	background: #151ea7;
	color: #FFF;
	font-weight: bold;
	white-space: nowrap;
}

.schedule table td {
	vertical-align: middle;
	height: 25px;
	padding-left: 10px;
}

.schedule table td.desc {
	text-align: left;
	font-weight: bold;
	width: 150px;
}

.schedule table td.time {
	text-align: right;
}

.schedule table td.dash {
	width: 30px;
	text-align: center;
}

.schedule table td.ext {
	width: 250px;
}

/* @Registration Page */
#register {
	width: 775px;
	margin: 0 auto 0 auto;
}

#events {

}

#events tr:nth-child(odd) {
  background: #b8d0e8;
}

#events td {
	text-align: center;
	vertical-align: middle;
	height: 25px;
}

#events th {
	height: 23px;
	vertical-align: middle;
	background: #151ea7;
	color: #FFF;
	font-weight: bold;
	white-space: nowrap;
	font-size: 16px;
	padding-left: 5px;
}

#events th.number {
	width: 55px;
}

#events th.date {
  text-align: center;
	width: 150px;
}

#events th.location {
  text-align: center;
	width: 175px;
}

#events th.register {
  text-align: center;
	width: 125px;
}

#events th.info {
	width: 300px;
}

#events td.number {
	text-align: left;
}

#events td.date {
	text-align: left;
	padding-left: 15px;
}

#events td.location {
	text-align: center;
}

#events td.register {
	text-align: center;
}

#events td.info {
	text-align: left;
	padding-left: 15px;
}

#events tr.even {
	background: #b8d0e8;
}

#events tr.odd {
	background: #FFF;
}

#faq {
	margin-top: 20px;
}

#faq p.ans {
	margin: 5px 0 15px 20px;
}


/* @Tech Inspection Page */
#tech p {
	padding-left: 20px;
}

#tech p.top {
	padding-top: 15px;
}

#tech p.heading {
	padding-top: 15px;
	padding-left: 0px;
	font-weight: bold;
}

#tech ol {
	margin-top: 5px;
	margin-left: 20px;
}

#tech li {
	margin-left: 15px;
	list-style-type: decimal;
}


/* @Rules - Club Rules */
#rules .heading {
	font-weight: bold;
	text-align: center;
}

#rules ol {
	margin-top: 5px;
	margin-left: 20px;
}

#rules li {
	margin-top: 15px;
	margin-left: 15px;
	list-style-type: upper-roman;
}

#rules ol ol {
	margin-top: 20px;
	margin-left: 20px;
}

#rules ol ol li {
	margin-top: 10px;
	margin-left: 15px;
	list-style-type: upper-alpha;
}

#rules ol ul {
	list-style-type: none;
}

#rules ol ul li {
	list-style-type: none;
}

#rules ol ul ol {

}

#rules ol ul ol li {
	list-style-type: upper-alpha;
}

#rules table.schedule {
	text-align: left;
}

#rules table.schedule td {
	width: 175px;
}


/* @History Page */
#history {

}

#history p {
	margin-bottom: 20px;
}


/* @Novices - First Time */
#firsttime p {
	margin-bottom: 15px;
}

#firsttime p.heading {
	margin-left: 0px;
	margin-bottom: 10px;
	font-weight: bold;
}

#firsttime p.desc, #firsttime ul {
	margin-left: 20px;
	margin-bottom: 10px;
}

#firsttime ul {
	list-style-type: disc;
}

#firsttime ul li {
	margin-bottom: 5px;
}

/* @Membership Page */
#membership {

}

#membership p {
	display: block;
	padding: 5px 0 5px 15px;
}

#membership ul {
	padding-left: 15px;
}

#membership ul li {
	list-style: disc;
	list-style-position: inside;
}
/* Novice - Improve Page */


@media only screen and (max-width : 1425px) {
  .quick-block .resultsGroup a.btn {
    width: 23%;
    padding: 6px 8px;
  }
}

@media only screen and (max-width : 1200px) {
  /* Event Results - 960 */
  .quick-block.results p {
    display: inline-block;
    width: 20%;
    text-align: center;
  }

  .quick-block .resultsGroup {
    float: right;
    text-align: center;
    margin-top: 3px;
    width: 15em;
  }

  .quick-block .resultsGroup a.btn {
    width: 7em;
    font-size: 100%;
    margin-bottom: 3px;
  }

  .quick-block .resultsGroup a.btn:nth-of-type(even) {
    margin-right: 3px;
  }
}

/* ******************************************************* */
/*MEDIA QUERY*/
@media only screen and (max-width : 960px) {

  html {}

  body {

  }

  #page-container {
    position: relative;
  }

  #header-container {

  	/*background-image:url('../images/sasca_header.png');*/
  }

  .quick-block.results p {
    display: inline-block;
    width: 20%;
    text-align: center;
  }

  .quick-block {
    width: 45%;
  }

  /* Next Event - 960 */
  .quick-block.meeting {
    width: 50%;
    margin-top: 20px;
    margin-left: 25%;
  }

  /* Event Results - 960 */
  .quick-block .resultsGroup {
    float: right;
    text-align: center;
    margin-top: 3px;
    width: 15em;
  }

  .quick-block .resultsGroup a.btn {
    width: 7em;
    font-size: 100%;
    margin-bottom: 3px;
  }

  .quick-block .resultsGroup a.btn:nth-of-type(even) {
    margin-right: 3px;
  }

  .quick-block .resultsGroup .btn {

  }

  nav ul li a {
    width: 6em;
    font-size: 14px;
  }

  #content-container {

  }

  #content {
    width: 100%;
  }

  #footer-container {

  }
}

@media only screen and (max-width : 640px) {

  html {}

  body {

  }

  h1, h2, h3, h4, h5 {
    font-size: 28px;
  }

  #page-container {
    position: relative;
  }

  #header-container {
    position: relative;
    height: 130px;
    background: #000000;
  }

  #header-logo-url {
    display: block;
    text-align: center;
  }

  #header-logo {
    border: 0;
    margin: 7px 0 0 0;
    height: 75px;
  }

  #nav-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3em;
    background-color: #003d64;
    z-index: 98;
  }

  .menu-btn {
    display: block;
    position: absolute;
    width: 20px;
    right: 10px;
    top: 7px;
  }

  .menu-btn div {
   position: absolute;
   right: 10px;
   top: 15px;
   width: 20px;
   padding-right: 8px;
   line-height: 1.2;
   font-size: 18px;
   font-weight: 200;
   vertical-align: middle;
   z-index: 99;
  }

  .menu-btn span {
   display: block;
   width: 19px;
   height: 3px;
   margin: 4px 0;
   background: rgb(255,255,255);
   z-index: 99;
  }

  .responsive-menu{
   display: none;
  }

  .expand {
   display: block !important;
  }

  #nav-links {
    display: none;
  }

  nav {
    font-weight: bold;
    text-transform: uppercase;
  }

  nav .menu-btn {
    display: none;
  }

  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 1em;
  }

  nav ul li a {
    display: block;
    width: 100%;
    height: 3em;
    text-align: center;
    font-size: 14px;
    line-height: 3em;
    transition: 0.2s;
  }

  nav ul li a:link,
  nav ul li a:visited {
    background-color: #003d64;
    color: #FFFFFF;
  }

  nav ul li a:hover,
  nav ul li a:active {
    background-color: #16A1FB;
    color: #FFFFFF;
  }

  #content-container {

  }

  #content {
    width: 100%;
  }

  #footer-container {

  }

  /* @Home */
  .quick-block.results p {
    width: 100%;
    text-align: left;
  }

  .quick-block .resultsGroup {
    width: 100%;
  }

  .quick-block, .quick-block.meeting {
    width: 100%;
    height: 8.5em;
    margin: 0 auto 1em auto;
    border: 1px solid #000;
    float: none;
  }

  .quick-block .title {
    position: absolute;
    top: 0;
    height: 1.7em;
    line-height: 1.7em;
    vertical-align: middle;
    width: 100%;
    padding: 0 5px;
    background-color: #003d64;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
  }

  .quick-block .content {
    margin-top: 1.6em;
  }

  /* Next Event */
  .quick-block-right {
    margin-top: 4px;
  }

  /* Event Results */
  .quick-block .resultsGroup {
    margin-top: 10px;
  }

  .quick-block .resultsGroup a.btn {
    /*width: 20%;*/
  }
}

@media only screen and (max-width : 460px) {
  .quick-block.results p {
    display: inline-block;
    width: 20%;
    text-align: center;
    margin-top: 10px;
  }

  .quick-block .resultsGroup {
    float: right;
    text-align: center;
    margin-top: 8px;
    width: 15em;
  }
}
